.content {
  max-width: 1200px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0rem 1rem;
}
.acordeon input {
  display: none;
}
.acordeon__title {
  display: block;
  background-color: rgb(220, 20, 60, 0.8);
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}
.acordeon__title:hover {
  background-color: rgb(220, 20, 60, 0.8);
}
.acordeon__contenido {
  height: 0;
  overflow: hidden;
  margin: 0;
  transition: all 0.5s;
}
.acordeon input:checked ~ .acordeon__contenido {
  height: auto;
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}
@media (min-width: 900px) {
  .acordeon__title {
    background-color: transparent;
    cursor: default;
  }
  .acordeon__title:hover {
    background-color: transparent;
  }
  .acordeon input:checked ~ .acordeon__contenido {
    font-size: 19px;
    line-height: 1.7;
  }
}
